{:blocks (
{:block/created-at 1774730491328
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 0
:borderRadius 2
:index 0
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "polygon"
:isFlippedY false
:size [216 176]
:strokeType "dashed"
:ratio 1
:strokeWidth 2
:opacity 1
:label ""
:sides 3
:id "07244290-2ada-11f1-8ba0-a79784b74103"
:fontWeight 400
:noFill false
:point [328 296]
:fontSize 20
:parentId "69c827b8-c743-4b0b-b88d-dfc816dc269d"
:nonce 1774725139486
:italic false}}
:block/updated-at 1774730491328} 
{:block/created-at 1774730491328
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "69c82848-39e8-492d-a19d-56cfdc5d7f10"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 40]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "6267e850-2ada-11f1-8ba0-a79784b74103"
:noFill false
:point [1032 168]
:parentId "69c827b8-c743-4b0b-b88d-dfc816dc269d"
:collapsedHeight 0
:nonce 1774725286886}}
:block/updated-at 1774730491328} 
{:block/content "public:: true"
:block/format :markdown
:block/left 
{:block/uuid #uuid "d90c58ed-5f2a-40be-873f-d9ee24b59bbc"}
:block/parent 
{:block/uuid #uuid "69c827b8-c743-4b0b-b88d-dfc816dc269d"}
:block/properties 
{:public true}
:block/uuid #uuid "a70f480a-a6b5-4576-8462-3bba7ad24f1b"} 
{:block/created-at 1774730491329
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 2
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "e6f5dbc2-2adc-11f1-8ba0-a79784b74103"
:fontWeight 400
:noFill true
:point [912.61 212.57]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 92.43]
:bindingId "71506401-2ae4-11f1-bd2e-0fc84a4b98df"}
:end 
{:id "end"
:canBind true
:point [211.36 0]
:bindingId "e6f5dbc1-2adc-11f1-8ba0-a79784b74103"}}
:decorations 
{:end "arrow"}
:parentId "69c827b8-c743-4b0b-b88d-dfc816dc269d"
:nonce 1774726368248
:italic false}}
:block/updated-at 1774730491329} 
{:block/content "public:: true"
:block/format :markdown
:block/left 
{:block/uuid #uuid "69c827b8-c743-4b0b-b88d-dfc816dc269d"}
:block/parent 
{:block/uuid #uuid "69c827b8-c743-4b0b-b88d-dfc816dc269d"}
:block/properties 
{:public true}
:block/uuid #uuid "d90c58ed-5f2a-40be-873f-d9ee24b59bbc"})
:pages (
{:block/uuid #uuid "69c827b8-c743-4b0b-b88d-dfc816dc269d"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "69c827b8-c743-4b0b-b88d-dfc816dc269d"
:name "test whiteboard"
:bindings 
{}
:nonce 0
:assets []
:shapes-index ("07244290-2ada-11f1-8ba0-a79784b74103" "6267e850-2ada-11f1-8ba0-a79784b74103" "e6f5dbc2-2adc-11f1-8ba0-a79784b74103")}}
:block/updated-at 1774730517974
:block/created-at 1774725048682
:block/type "whiteboard"
:block/name "test whiteboard"
:block/original-name "Test Whiteboard"})}